@import "tailwindcss";

:root {
  --color-primary: #F40064;
  --color-secondary: #919EA8;
}

.text-primary {
  color: #F40064;
}

.bg-primary {
  background-color: #F40064;
}

.border-primary {
  border-color: #F40064;
}

.hover\:text-primary:hover {
  color: #F40064;
}

.hover\:bg-primary:hover {
  background-color: #F40064;
}